body{
    background-image: url("fondo.jpg");
}
form{
    width : 50%;
    border : 2px solid black;
    margin: 50px;
    padding: 20px;
    margin: auto;
    background: #414d58;
    border-radius: 5px;
    color: white;
    box-shadow: 7px 13px 37px #000;   
}
h1{
    text-align: center;
    font-size: 20px;
}
p {
    font-size: 14px;
    display: block;
    width: 100%;
}
input{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}
input:focus, textarea:focus{
    border: 4px solid #000000;
}
input[type="submit"]{
    background: #ffffff;
    border: none;
    width: 100%;
}
input[type="submit"]:hover{
    background: #020116;
    cursor: pointer;
    color: aliceblue;
}
input[type="reset"]:hover{
    background: #410000;
    cursor: pointer;
    color: aliceblue;
}
input[type="reset"]{
    background: #ffffff;
    border: none;
    width: 100%;
}